* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Edu SA Beginner', cursive;


}

nav {
    background-color: rgba(210, 105, 30, 0.59);
}

.navbar-brand {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

#header {
    color: #000;
    background-color: rgba(210, 105, 30, 0.59);
}

#About {
    background: #c4bfbf;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 20px;
}

#Menu {
    background-color: rgb(35, 33, 33);
    color: #f1f1f1;
    padding-bottom: 15px;
}

#Tienda {
    background-color: bisque;
    color: #000;
    padding-bottom: 20px;
}